<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" type="image/png" href="assets/img/favicon.png">
<title>InternSync</title>
<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
   <input type="hidden" id="anPageName" name="page" value="choose-u9205-english">
   <div class="choose-u9205-english screen">
      <header class="header-nUrtvN">
         <div class="hero-mfHsCy">
            <div class="heading-hsWx8I">
               <div class="heading-1-89qLJy">
                  <h1 class="title-rnXVOM valign-text-middle">Choose what you want to access</h1>
               </div>
               <div class="heading-2-89qLJy">
               <a href="/company/login" class="title-GXIj5W">
					   <div class="student-portal valign-text-middle poppins-semi-bold-black-rock-26px">Company Portal</div>
					   <p class="lorem-ipsumis-simply valign-text-middle poppins-normal-black-rock-13px">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
					</a>
					<a href="/student/login" class="title-GXIj5W">
					   <div class="student-portal valign-text-middle poppins-semi-bold-black-rock-26px">Student Portal</div>
					   <p class="lorem-ipsumis-simply valign-text-middle poppins-normal-black-rock-13px">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
					</a>
					<a href="/university/login" class="title-ZjFhUE">
					   <div class="student-portal valign-text-middle poppins-semi-bold-black-rock-26px">University Portal</div>
					   <p class="lorem-ipsumis-simply valign-text-middle poppins-normal-black-rock-13px">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
					</a>
               </div>
            </div>
         </div>
      </header>
      <footer class="footer-nUrtvN">
         <div class="links-PE2KIu">
            <div class="support-b2Od8d poppins-semi-bold-black-rock-18px">Support</div>
            <div class="terms-of-use-b2Od8d poppins-semi-bold-black-rock-18px">Terms of Use</div>
            <div class="privacy-policy-b2Od8d poppins-semi-bold-black-rock-18px">Privacy Policy</div>
         </div>
         <div class="copyrights-PE2KIu">
            <p class="x2024-inter-ship-all-rights-reserved-AgcjA7">© 2024 InternSync. All rights reserved.</p>
         </div>
      </footer>
   </div>
</body>
</html>
